!<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>about</title>
  </head>
  <body>
    <h1>This is the about me page</h1>
    <h2>Skills</h2>
    <ul>
      <% @skills.each do |skill| %>
        <li> <%= skill %> </li>
      <% end %>
    </ul>

    <h2>Interests</h2>
    <ul>
      <% @interests.each do |interest| %>
        <li> <%= interest %> </li>
      <% end %>
    </ul>
  </body>
</html>
